:host {
  section {
    max-height: calc(100vh - 130px);
    overflow: auto;
    ul {
      border: solid 1px var(--surface-color);
      padding: 0 15px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-top: 0;
      list-style: none;
      li {
        border-bottom: solid 1px var(--surface-color);
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
    app-loader {
      margin: auto;
      display: block;
    }
  }
}